.container{
    text-align: center;
}
.pic{
    width: 960px;
    height: 275px;
    border: 1px;
    /* margin-right: 1px; */
    /* margin: auto; */
    margin-right: auto;
    margin-left: auto;
    display: block; 
}
.links{
    text-decoration: none;
}